<div class="container">
    <h1>{{ 'app.title' | translate }}</h1>

    <div class="form-container">
        <form [formGroup]="videoForm" (ngSubmit)="onVideoSubmit()" class="video-input">
          <div class="form-control">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ 'video.label' | translate }}</mat-label>
              <input matInput formControlName="videoUrl" id="video">
              <mat-error *ngIf="videoForm.get('videoUrl')?.hasError('required')">{{ 'video.required' | translate }}</mat-error>
              <mat-error *ngIf="videoForm.get('videoUrl')?.hasError('pattern')">{{ 'video.invalidUrl' | translate }}</mat-error>
            </mat-form-field>
          </div>
    
          <button type="submit">{{ 'video.submit' | translate }} &#8594;</button>
        </form>
      </div>

    <div class="content">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Stats">
                <h4 class="stats-header">{{'stats.comments' | translate}} <span>{{stats?.comments}}</span></h4>
                <h4 class="stats-header">{{'stats.likes' | translate}} <span>{{stats?.likes}}</span></h4>
                <h4 class="stats-header">{{'stats.favourites' | translate}} <span>{{stats?.favourites}}</span></h4>
                <h4 class="stats-header">{{'stats.views' | translate}} <span>{{stats?.views}}</span></h4>
            </mat-tab>
            <mat-tab label="Dashboard">
              <app-stats-dashboard
              [data]="stats"
              ></app-stats-dashboard>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>

