.sidenav {
    background: var(--dark);
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 6.5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem var(--gray);
    margin-right: 5rem;
}

.logo-container{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    .logo {
        background: var(--primary);
        text-align: center;
        width: 8rem;
        min-width: 3rem;
        border-radius: 0.3rem;
        padding: 0.3rem;
        font-size: 24px;
        font-weight: bolder;
        cursor: pointer;
        border: none;
    }

    .btn-close{
        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;

        .fa-times{
            color: var(--white);
            font-size: 24px;
        }
    }
}

.sidenav-collapsed{
    width: 15rem;
}

.sidenav-nav{
    list-style: none;
    padding: 0.9rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.5rem);
    cursor: pointer;

    .sidenav-nav-item{
        width: 100%;
        margin-bottom: 0.6rem;

        .sidenav-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: var(--light);
            text-decoration: none;
            border-radius: 0.6rem;
            transition: all .3s ease;

            .sidenav-link-icon{
                font-size: 22px;
                color: var(--primary);
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text{
                margin-left: 1.5rem;

            }
        }
    }

    .sidenav-nav-item:hover{
        .sidenav-nav-link{
            background-color: var(--primary);
            color: var(---dark);

            .sidenav-link-icon{
                color: var(--dark);
            }
        }
    }
}