.container{
    padding-left: 7rem;
    align-items: center;
    justify-content: center;
}

form{
    max-width: 400px;
    margin: 80px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px var(--gray-dark);
    border-radius: 4px;

    h1{
        margin-top: 0;
        color: var(--gray-dark);
        padding-bottom: 10px;
        border-bottom: 1px solid var(--light);
    }
}

.form-control{
    margin-bottom: 16px;
    width: 100%;

    input{
        padding: 8px;
        height: 35px;
        border-radius: 4px;
        width: 100%;
        border: none;
        background-color: var(--white);
    }
}

button{
    padding: 8px 24px;
    width: 100%;
    font-size: 1.2rem;
}

button:hover{
    background-color: var(--primary);
    font-weight: 500;
    transition: 0.75s;
}